.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .video {
    width: 1080px;
  }
  .video-mobile {
    width: 375px;
    background-color: tomato;
  }
  .madeBy {
    position: absolute;
    bottom: 32px;
    font-size: 12px;
    text-decoration: none;
    color: black;
  }
}
